body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #ECECEC;
}

.navbar1{
    background-color: orange;
    font-weight: 550;
    display: block;
    text-align: center;
    padding: 5px 0;
}

.navbar1 a{
    text-decoration: none;
    color: black;
    margin-right: 5px;
}

.college_name{
    text-align: center;
    background-color: white;
    margin: 5px 0;
    border: 5px solid white;
}

.college_name h1{
    color: #154391;
}

.college_name a{
    text-decoration: none;
    color: red;
}

.college_name p{
    text-decoration: none;
    color: red;
}

.college_name img{
    margin-top: 0.5em;
    height: 100px;
}

.navbar2{
    background-color: #098CC4;
    font-weight: 600;
    display: block;
    /* text-align: center; */
    padding: 20px 130px;
}

.navbar2 a{
    text-decoration: none;
    color: white;
    margin: 34px;
}

.navbar3{
    background-color: #098CC4;
    font-weight: 600;
    display: block;
    padding: 20px 130px;
}

.navbar3 a{
    text-decoration: none;
    color: white;
    margin: 34px;
}

.information{
    margin-top: 20px;
    margin-left: 15%;
    text-align: justify;
    width: 50%;
    padding: 10%;
    background-color: white;
    border-radius: 15px;
}

.information h2{
    color: #154391;
    font-weight: 500;
}

.information a{
    text-decoration: none;
    color: #00796B;
}

.information span{
    text-decoration: none;
    color: #00796B;
    padding-right: 20px;
    border: 2px solid lightgray;
    padding: 5px;
    border-radius: 5px;
}

.prog_desc{
    background-color: lightgray;
}

.information p{
    text-align: justify;
    color: #154391;
}

.information ol{
    color: #154391;
}

strong{
    color: #FF5722;
}
